python-dotenv
groq
AppOpener
pywhatkit
bs4
pillow
rich
requests
keyboard
cohere
googlesearch-python
selenium
mtranslate
pygame
edge-tts
PyQt5
webdriver-manager
aiohttp
appopener
beautifulsoup4
cohere
duckduckgo-search
edge-tts
groq
keyboard
mtranslate
openai
pillow
pygame
pyautogui
pyqt5
python-dotenv
requests
rich
selenium
webdriver-manager
pywhatkit